<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sud-Ouest - Le programme des Jeux Olympiques 2024</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <!-- <script src="https://unpkg.com/vue@next"></script> -->

    <script src="https://unpkg.com/vue@3.1.1/dist/vue.global.prod.js"></script>
    <!-- <script src="https://unpkg.com/vue/dist/vue.global.prod.js"></script> -->


    <!-- * Sert à faire apparaître au défilement * -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="css/style_V2.css">
    <!-- <link href="https://unpkg.com/pattern.css" rel="stylesheet"> -->
</head>

<body class="fond">
    <!-- <div class="fond"></div> -->
    <script>
        /**
         * Sert à faire apparaître la flêche au défilement
        */

        jQuery(document).ready(function () {
            var duration = 500;
            jQuery(window).scroll(function () {
                if (jQuery(this).scrollTop() > 100) {
                    // Si un défillement de 100 pixels ou plus.
                    // Ajoute le bouton
                    jQuery('.cRetour').fadeIn(duration);
                } else {
                    // Sinon enlève le bouton
                    jQuery('.cRetour').fadeOut(duration);
                }
            });

            jQuery('.cRetour').click(function (event) {
                // Un clic provoque le retour en haut animé.
                event.preventDefault();
                jQuery('html, body').animate({
                    scrollTop: 0
                }, duration);
                return false;
            })
        });
    </script>
    <div id="app">
        <fieldset>
            <div class="selctMode">Sélectionner un mode de recherche</div>
            <div class="enLigne">
                <div id="sportsBouton">
                    <input type="radio" />
                    <label class="switch swidates">Dates</label>
                </div>
                <div>
                    <input type="radio" checked />
                    <label class="switch swisports">Sports</label>
                </div>
            </div>
            <br>
            <div>
                <legend>Choisir un sport</legend>
            </div>
            <!-- <div>Selected: {{ selected }}</div> -->
            <select v-model="selected" class="select" @change="resetDropdown">
                <option value="" disabled>Sélectionner un sport</option>
                <option>ATHLETISME</option>
                <option>AVIRON</option>
                <option>BADMINTON</option>
                <option>BASKETBALL</option>
                <option>BASKETBALL 3x3</option>
                <option>BEACH VOLLEYBALL</option>
                <option>BMX FREESTYLE</option>
                <option>BMX RACING</option>
                <option>BOXE</option>
                <option>BREAKING</option>
                <option>CANOE SLALOM</option>
                <option>CANOË, COURSE EN LIGNE</option>
                <option>CYCLISME SUR PISTE</option>
                <option>CYCLISME SUR ROUTE</option>
                <option>ESCALADE</option>
                <option>ESCRIME</option>
                <option>FOOTBALL</option>
                <option>GOLF</option>
                <option>GYMNASTIQUE ARTISTIQUE</option>
                <option>GYMNASTIQUE RYTHMIQUE</option>
                <option>GYMNASTIQUE TRAMPOLINE</option>
                <option>HALTEROPHILIE</option>
                <option>HANDBALL</option>
                <option>HOCKEY</option>
                <option>JUDO</option>
                <option>LUTTE</option>
                <option>NATATION</option>
                <option>NATATION ARTISTIQUE</option>
                <option>NATATION MARATHON</option>
                <option>PENTATHLON MODERNE</option>
                <option>PLONGEON</option>
                <option>RUGBY</option>
                <option>SKATEBOARD</option>
                <option>SPORTS EQUESTRES</option>
                <option>SURF</option>
                <option>TAEKWONDO</option>
                <option>TENNIS</option>
                <option>TENNIS DE TABLE</option>
                <option>TIR</option>
                <option>TIR A L'ARC</option>
                <option>TRIATHLON</option>
                <option>VOILE</option>
                <option>VOLLEYBALL</option>
                <option>VTT</option>
                <option>WATER POLO</option>
            </select>
        </fieldset>
        <!-- * Filtre sur les deps -->
        <div v-if="(selected == selected && selected != false)">
            <fieldset>
                <!-- <div>Epreuve : {{ selectedSSDisci }}</div> -->
                <div v-for="(s, index) in ssDiscipline">
                    <div v-if="(selected == s.Discipline)">
                        <div>
                            <legend>Choisir une épreuve</legend>
                        </div>
                        <select v-model="selectedSSDisci" class="select">
                            <option selected value="" disabled>Sélectionner une épreuve</option>
                            <option v-for="(ss, index) in s.Detail">{{s.Detail[index]}}</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <!-- <div v-else>mmmmm</div> -->
            <div v-if="(selectedSSDisci != false || selectedSSDisci != '')">
                <fieldset>
                    <div class="enLigne">
                        <label class="center">
                            <input type="checkbox" v-model="hommes" class="">
                            <span class="hommes"></span>
                            <span class="libele">hommes</span>
                        </label>
                        <label class="center">
                            <input type="checkbox" v-model="femmes" class="">
                            <span class="femmes"></span>
                            <span class="libele">femmes</span>
                        </label>
                        <label class="center">
                            <input type="checkbox" v-model="mixte" class="">
                            <span class="mixte"></span>
                            <span class="libele">mixte</span>
                        </label>
                    </div>

                    <hr>
                    <div v-if=" 
                        (
                           ( 
                                (hommes != false)
                                || (femmes != false)
                                || (mixte != false)
                            )
                        )">
                        <div>
                            <legend>Médailles en jeu</legend>
                            <div class="enLigne">
                                <label class="center">
                                    <input type="checkbox" v-model="medailleOn">
                                    <span class="medaille"></span>
                                    <span class="libele">Oui</span>
                                </label>
                                <label class="center">
                                    <input type="checkbox" v-model="medailleOff">
                                    <span class="medaille"></span>
                                    <span class="libele">Non</span>
                                </label>
                            </div>

                        </div>
                        <hr>
                        <!-- <div class="enLigne" v-if="
                                    (medailleOn != false)
                                    || (medailleOff != false)
                        ">
                            <div>
                                <legend>Filtre heure</legend>
                                <button @click="sortJsonAH">+tôt</button>
                                <button @click="sortJsonHA">+tard</button>
                            </div>
                        </div> -->
                        <div class="enLigne" v-if="
                                    (medailleOn != false)
                                    || (medailleOn != false)
                        ">
                            <div>
                                <legend>A la télé</legend>
                                <div style="display: flex;">
                                    <label>
                                        <input type="checkbox" v-model="matin">
                                        <span class="progTV">Matin</span>
                                    </label>

                                    <label>
                                        <input type="checkbox" v-model="am">
                                        <span class="progTV">Après-midi</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" v-model="soir">
                                        <span class="progTV">Soirée</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div v-else>Sélectionner "Oui" ou "Non"</div>
                    </div>
                    <div v-else>Sélectionner "Hommes, femmes ou mixte"</div>
            </div>
            <div v-if="
                            (
                                (matin == false)
                                && (am == false)
                                && (soir == false)
                            )
                            &&
                            (
                                (medailleOn != false)
                                && (medailleOn != false)
                            )
                    ">
                Sélectionner une plage horaire

            </div>
            <div v-else></div>

            </fieldset>
            <!-- * Vignette -->
            <div id="container" class="flex center">
                <div v-for="(p, index) in personnes">
                    <div v-if="(
                            (
                                (p.Epreuve == selectedSSDisci)
                                || (selectedSSDisci == false)
                               
                            )
                            &&
                            (
                                (p.Discipline == selected)
                            )
                            &&
                            (
                                (Mercredi24Juillet == false) || (Jeudi25Juillet == false)
                                || (Vendredi26Juillet == false) || (Samedi27Juillet == false)
                                || (Dimanche28Juillet == false) || (Lundi29Juillet == false)
                                || (Mardi30Juillet == false) || (Mercredi31Juillet == false)
                                || (Jeudi1Aout == false) || (Vendredi2Aout == false)
                                || (Samedi3Aout == false) || (Dimanche4Aout == false)
                                || (Lundi5Aout == false) || (Mardi6Aout == false)
                                || (Mercredi7Aout == false) || (Jeudi8Aout == false)
                                || (Vendredi9Aout == false) || (Samedi10Aout == false)
                                || (Dimanche11Aout == false)
                            )
                            &&
                            (
                                (hommes && p.Hommes == 'Oui')
                                || (femmes && p.Femmes == 'Oui')
                                || (mixte && p.Mixte == 'Oui')
                            )
                            && 
                            (
                                (medailleOn && p.Medaille != '')
                                || (medailleOff && p.Medaille == '')
                            )
                            && 
                            (
                                (matin && p.Matin != '')
                                || (am && p.Am != '')
                                || (soir && p.Soir != '')
                            )
                        )
                            
                ">
                        <div class="large desk" :class="[couleurSex[index]]">
                            <div class="flexPictoSport">
                                <img class="pictoSport" :src="'images/'+[pictoSport[index]]+'.png'" alt="">
                                <div class="traitPictoSport"></div>
                                <h1>{{p.Discipline}} </h1>
                            </div>
                            <div :class="[medailles[index]]"></div>
                            <h3 class="">{{miseEnForme[index]}}</h3>
                            <hr class="hrWhite">
                            <h2>{{jours[index]}}
                                <br>{{p.Debut}} - {{p.Fin}}
                            </h2>
                            <p> {{p.Lieu}}</p>
                            <img class="tv" :src="'images/'+p.TV+'.png'">
                        </div>
                        <div class="large mob" :class="[couleurSex[index]]">
                            <div class="flexMob">
                                <div class="flexPictoSport">
                                    <img class="pictoSport" :src="'images/'+[pictoSport[index]]+'.png'" alt="">
                                    <div class="traitPictoSport"></div>
                                    <h1>{{p.Discipline}} </h1>
                                </div>
                                <div class="medailles" :class="[medailles[index]]"></div>
                            </div>
                            <h3 class="x">{{miseEnForme[index]}}</h3>
                            <h2>{{jours[index]}} | {{p.Debut}} - {{p.Fin}}</h2>
                            <p>{{p.Lieu}}</p>
                            <img class="tv" :src="'images/'+p.TV+'.png'">
                        </div>
                    </div>
                    <div v-else></div>
                </div>
            </div>
        </div>
        <div style="height: 200px;"></div>
        <script src="js/doneV2.js"></script>
        <script language="javascript" type="text/javascript">
            function bascule(hide) {
                etat = document.getElementById(hide).style.display;
                if (etat == "none") {
                    document.getElementById(hide).style.display = "block";
                }
                else {
                    document.getElementById(hide).style.display = "none";
                }
            };
            document.getElementById("sportsBouton").onclick = function () {
                window.location.href = "index.html";
            };



        </script>
        <div class="cRetour"></div>
</body>

</html>